In [1]:
import pandas as pd

In [3]:
import os

In [5]:
os.getcwd()

'C:\\Users\\salik\\Big Data Analytics'

In [9]:
data=pd.read_csv("banglore.csv")

In [11]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [13]:
data.tail()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.0
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.0
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.0
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.0
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.0

In [15]:
data.head(10)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,NaN,370.00

In [17]:
data.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [21]:
data.shape

(13320, 9)

In [45]:
data.info

<bound method DataFrame.info of                   area_type   availability                  location  \
0      Super built-up  Area         19-Dec  Electronic City Phase II
1                Plot  Area  Ready To Move          Chikka Tirupathi
2            Built-up  Area  Ready To Move               Uttarahalli
3      Super built-up  Area  Ready To Move        Lingadheeranahalli
4      Super built-up  Area  Ready To Move                  Kothanur
...                     ...            ...                       ...
13315        Built-up  Area  Ready To Move                Whitefield
13316  Super built-up  Area  Ready To Move             Richards Town
13317        Built-up  Area  Ready To Move     Raja Rajeshwari Nagar
13318  Super built-up  Area         18-Jun           Padmanabhanagar
13319  Super built-up  Area  Ready To Move              Doddathoguru

            size  society total_sqft  bath  balcony   price
0          2 BHK  Coomee        1056   2.0      1.0   39.07
1      4 Bedroom  Theanmp       2600   5.0      3.0  120.00
2          3 BHK      NaN       1440   2.0      3.0   62.00
3          3 BHK  Soiewre       1521   3.0      1.0   95.00
4          2 BHK      NaN       1200   2.0      1.0   51.00
...          ...      ...        ...   ...      ...     ...
13315  5 Bedroom  ArsiaEx       3453   4.0      0.0  231.00
13316      4 BHK      NaN       3600   5.0      NaN  400.00
13317      2 BHK  Mahla T       1141   2.0      1.0   60.00
13318      4 BHK  SollyCl       4689   4.0      1.0  488.00
13319      1 BHK      NaN        550   1.0      1.0   17.00

[13320 rows x 9 columns]>

In [23]:
data.size

119880

In [25]:
data.ndim

2

In [29]:
data.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [35]:
X=data.drop("price",axis=1) #all atributes expect price

In [37]:
y=data["price"]

In [39]:
print(X)

                  area_type   availability                  location  \
0      Super built-up  Area         19-Dec  Electronic City Phase II
1                Plot  Area  Ready To Move          Chikka Tirupathi
2            Built-up  Area  Ready To Move               Uttarahalli
3      Super built-up  Area  Ready To Move        Lingadheeranahalli
4      Super built-up  Area  Ready To Move                  Kothanur
...                     ...            ...                       ...
13315        Built-up  Area  Ready To Move                Whitefield
13316  Super built-up  Area  Ready To Move             Richards Town
13317        Built-up  Area  Ready To Move     Raja Rajeshwari Nagar
13318  Super built-up  Area         18-Jun           Padmanabhanagar
13319  Super built-up  Area  Ready To Move              Doddathoguru

            size  society total_sqft  bath  balcony
0          2 BHK  Coomee        1056   2.0      1.0
1      4 Bedroom  Theanmp       2600   5.0      3.0
2          3 BHK      NaN       1440   2.0      3.0
3          3 BHK  Soiewre       1521   3.0      1.0
4          2 BHK      NaN       1200   2.0      1.0
...          ...      ...        ...   ...      ...
13315  5 Bedroom  ArsiaEx       3453   4.0      0.0
13316      4 BHK      NaN       3600   5.0      NaN
13317      2 BHK  Mahla T       1141   2.0      1.0
13318      4 BHK  SollyCl       4689   4.0      1.0
13319      1 BHK      NaN        550   1.0      1.0

[13320 rows x 8 columns]

In [41]:
print(y)

0         39.07
1        120.00
2         62.00
3         95.00
4         51.00
          ...
13315    231.00
13316    400.00
13317     60.00
13318    488.00
13319     17.00
Name: price, Length: 13320, dtype: float64

In [47]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.3,random_state=50)

In [53]:
print(X_train)

                  area_type   availability                location       size  \
9837   Super built-up  Area         15-Nov             Hennur Road      3 BHK
6679   Super built-up  Area  Ready To Move            Thubarahalli      2 BHK
12725  Super built-up  Area         18-Aug          Horamavu Agara      2 BHK
3784   Super built-up  Area  Ready To Move                  Harlur      3 BHK
991              Plot  Area  Ready To Move            Dwarka Nagar  8 Bedroom
...                     ...            ...                     ...        ...
8324             Plot  Area  Ready To Move           Harsha Layout  4 Bedroom
10206  Super built-up  Area  Ready To Move          Sarjapur  Road      2 BHK
6253   Super built-up  Area  Ready To Move              Nagarbhavi      3 BHK
10123  Super built-up  Area         18-Apr  Banashankari Stage III      3 BHK
5600   Super built-up  Area  Ready To Move               Gottigere      2 BHK

       society total_sqft  bath  balcony
9837       NaN       1480   3.0      NaN
6679       NaN       1200   2.0      2.0
12725  S2ionrn       1090   2.0      1.0
3784       NaN       1758   3.0      2.0
991        NaN       2400   6.0      3.0
...        ...        ...   ...      ...
8324       NaN       2100   6.0      3.0
10206      NaN       1026   2.0      1.0
6253       NaN       1850   2.0      2.0
10123      NaN       1500   2.0      2.0
5600   MBireap       1410   2.0      2.0

[9324 rows x 8 columns]

In [55]:
print(y_train)

9837     100.00
6679      47.00
12725     46.00
3784     133.00
991      125.00
          ...
8324     100.00
10206     60.55
6253      89.00
10123    100.00
5600      45.00
Name: price, Length: 9324, dtype: float64

In [57]:
print (y_test)

12615    530.00
4913      37.97
6093      60.00
9002      41.00
3200      64.31
          ...
7648      65.00
4746      65.00
7062      63.00
1933      58.00
9823      70.00
Name: price, Length: 3996, dtype: float64

In [3]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

NameError: name 'X_train' is not defined